video{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color:black;
    font-size: 1.2rem;
}
.container1{
    background-color: rgb(222, 228, 233);
    display: flex;

}
.container1 img{
    width: 300px;
    height: 200px;
    margin: 2% 6%;
}
.container1 .title{
    padding: 5% 20%;
}
.container2{
    background-color:#fff;
    display: flex;

}
.container2 img{
    width: 300px;
    height: 200px;
    margin: 2% 6%;
}
.container2 .title{
    padding: 5% 20%;
}
.container1{
    background-color: rgb(222, 228, 233);
    display: flex;

}
.container1 img{
    width: 300px;
    height: 200px;
    margin: 2% 6%;
}
.container1 .title{
    padding: 5% 20%; 
}
.container2{
    background-color:#fff;
    display: flex;

}
.container2 img{
    width: 300px;
    height: 200px;
    margin: 2% 6%;
}
.container2 .title{
    padding: 5% 20%;
}